.container
{
    width: 100%;
    height: auto;
    border: 1px solid #006680;
}

.book-store-name
{
    background-color: 	 #47d1d1;
    color: #006680;
    height: 70px;
    font-family: Playball;
    text-shadow: 1.5px 1.5px black;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding: 5px;
    display: flex;
    padding-left: 600px;
}